{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books %}
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                {% endfor %}
                <a>
                </a>

                {% if not prev is None %}
                    <a class="button button-primary" href="/books/{{ prev }}">< {{ prev }}</a>
                {% endif %}

                    <a> </a>

                {% if not next is None %}
                    <a class="button button-primary" href="/books/{{ next }}">{{ next }} ></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}